{% extends 'base.html.twig' %}

{% block description %}"En Veggixque t’ajudem a trobar restaurants 100% vegetarians i vegans en la teua zona. Utilitza el nostre mapa o busca per província."{% endblock %}
{% block title %}Veggiexque home{% endblock %}

{% block sentence %}
    <h3 class="text-lg text-center display-5">{{ sentence }}</h3>
{% endblock %}    

{% block body %}
<div class="d-flex flex-column">
    <div class="d-flex justify-content-center">
        <img src="{{ asset('media/plat.png') }}" class="img-fluid" style="max-height: 400px; max-width: 400px;" alt="plat de quinoa amb verdures">
    </div>
    <div class="">
            <p class="text-center m-2">Si et ve de gust anar a un restaurant 100% vegetarià, en veggiexque podràs trobar-los tots. Selecciona una província 
            amb el desplegable o fes una cerca amb la localitat, província o restaurant que t'interessa.</p>
            <p class="text-center m-2">Si ens hem deixat algun restaurant per incloure o vols notificar un tacament, utilitza la secció 
            "contacte" per fer-nos-ho saber.</p>
            <p class="text-center m-2">Gràcies per utilitzar veggiexque!</p>
            <br>
            <br>
    </div> 
</div>
{% endblock %}
