
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
##/public/media/restaurants
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###data that I have found online and will eventually use in the app###
/src/Data/ProvinceList.php
/src/Data/RestaurantList.php

# Database dumps (if you create any locally)
*.sql
*.sqlite
/data/*.sql