{% extends 'base.html.twig' %}

{% block description %}"Entrevistes i reportatges sobre restaurants vegetarians."{% endblock %}
{% block title %}Veggiexque blog{% endblock %}

{% block body %}

<p>Pròximament</p>

{% endblock %}